<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: cornsilk;
        }
        #abc
        {
            color: blue;
            background-color: bisque;
        }
        #mno
        {
            color:aquamarine;
            background-color:black;
        }
        #xyz
        {
            color: greenyellow;
            background-color:orchid;
        }

    </style>
</head>
<body>
    <center>
        <h1 id="abc" >login is successful</h1>
        <h1 id="mno">welcome to home page mrs {{username}}</h1>
        <h1 id="xyz">your age is {{age}}</h1>
    </center>
    
</body>
</html>